doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/head.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    include head.pug
    block content
    include footer.pug
